BasedOnStyle: Google
DerivePointerAlignment: false
PointerAlignment: Right
QualifierAlignment: Left
IncludeBlocks: Merge
CommentPragmas: '(@copydoc|@copybrief|@see|@overload|@snippet)'
TabWidth: 4
IndentWidth: 4