[submodule "extern/doctest"]
	path = extern/doctest
	url = https://github.com/doctest/doctest
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/SDL_image"]
	path = extern/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = SDL2
[submodule "extern/SDL_ttf"]
	path = extern/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	branch = SDL2
